# Core functionality - changes here should be rare!
/src/app.py                   @RoyRock501
/src/backend/database.py      @RoyRock501
/src/backend/routers/auth.py  @RoyRock501

# The frontend will need refactored soon to be more object oriented.
/src/static/   @RoyRock501
